<!-- breadcrumbs -->
<div class="crumb-holder">
	<nav class="breadcrumb-nav">
		<ul class="breadcrumb" aria-label="breadcrumb">
			<% breadcrumbs.forEach(function(crumb) { %>
				<% if (crumb._home !=true) { %>
					<% crumb.name=`/ ${crumb.name}`%>
						<% } else { %>
							<% crumb.name=crumb.name %>
								<% } %>
									<li><a href="<%= `${crumb.url}` %> ">
											<%= `${crumb.name}` %>
										</a></li>
									<% }) %>
		</ul>
	</nav>
</div>
<!-- breadcrumbs finish -->